<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planets!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <form th:action="@{/addplanet}" th:object="${planet}" method="post">
            <span>Name</span>
            <input name="name"/>
            <span>Lord ID</span>
            <input name="lord"/>
            <button type="submit">Создать планету</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Lord</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="planet : ${planets}">
                    <td th:text="${planet.id}"/>
                    <td th:text="${planet.name}"/>
                    <td>
                        <form th:action="@{'/planetdetails/' + ${planet.id}}" method="get">
                            <button type="submit">Подробности</button>
                        </form>
                    </td>
                    <td th:text="${planet.lord.name}" th:if="${planet.lord ne null}"/>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>